<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
        <div class="row">
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class "list-inline text-center">
                    {% if site.zhihu_username %}
                        <li>
                            <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-stack-1x fa-inverse">知</i>
                                </span>
                            </a>
                        </li>
                    {% endif%}
                </ul> 
                  
            </div>
            -->
            <div class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Theme on <a href="{{ site.github_repo }}">GitHub</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_username }}.github.io&type=star&count=true" >
                    </iframe>
            </div>     
        </div>
    
      
  
    </div>
  
</footer>
  