<header class="intro-header" 
        style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h2>
                        <span class="typewrite" data-period="1000" data-type={{ site.display_header | jsonify }}></span>
                    </h2>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-down-button">
        <i class="iconfont font-arrow-down">
        </i>
    </div>
</header>