cvar{
    background-color: #FFDDDD;    
    border: 1px solid #EEBBBB;
    color: #772222;    
}

cfunc, .cfunc {
    background-color: #FFFFDD;
    border: 1px solid #EEEEBB;
    color: #777733;
}

cvar, cfunc, .cfunc {
    border-radius: 3px;    
    font-size: 0.9em;
    /* margin: 0px 2px 0px 2px; */
    padding: 0px 4px 0px 4px;
    white-space: nowrap;
}

.post-flex-row{
    display:flex;
    flex-direction: row;
    max-width: 100%;
}

.toc-sidebar-container {
    flex: 0 0 20%;
    max-width: 20%;
    /* padding : 10px; */
    /* position: relative;
    overflow: visible; */
}

.toc-sidebar {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 10px;
    
    background: #ffffff00;
    height: max-content;

    position: sticky;
    top: 20px;
}

.toc-sidebar.fixed {
    flex: 0 0 25%;
    max-width: 25%;
    position:sticky;
    top:80px;
}